.Heading{
    font-family:'Fontdiner Swanky', cursive;
    text-align: center;
    color: navajowhite;
    border-radius: 50px;
}

.Heading2{

    font-family: "Times New Roman", Times, serif;
    text-align: center;
    border-radius:100%;
    color: indianred;

}

.Heading3{
     font-family: 'Permanent Marker', cursive;
     text-align: center;
     font-size: 50px;
      color:black;
    font-weight: 100%;

}

.Heading4{

    font-family: 'Pacifico', cursive;
    text-align: center;
     font-size: 30px;
     color:#260d1a;
}

body{
    border-radius: 50px;
    background-image: url(http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.Heading4{
	background-image: url(https://davidwalsh.name/demo/bg-clouds.png);
	background-repeat: repeat-x;
  border-radius: 10px;
	animation: animatedBackground 40s linear infinite;
  font-family:  'Sacramento', cursive;
  font-weight: 300%;
  padding:inherit;
  border-bottom: 10px;

}


.mama{
    text-align: center;
    color:#ff9966;
    font-family:'Bangers', cursive;

}
.image{
  text-align: center;

}
